<div class="container">
  <div class="jumbotron">
    <h1>Identities#index</h1>
    <p>Find me in app/views/identities/index.html.erb</p>
  </div>
  
  <% @identities.each do |i| %>
    <div class="row">
      <p><%= i.name %> as <%= i.title %> at <%= link_to i.url, i.url %></p>
    </div>
  <% end %>
</div>